* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.container {
    height: auto;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

span {
    font-size: 5rem;
    color: yellow;
}

.btn {
    border: 1px solid black;
    background-color: hsl(214, 64%, 44%);
    color: white;
    padding: 7.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}